[submodule "Diamorphine"]
	path = Diamorphine
	url = https://github.com/m0nad/Diamorphine.git
[submodule "bad-bpf"]
	path = bad-bpf
	url = https://github.com/pathtofile/bad-bpf.git
[submodule "curing"]
	path = curing
	url = https://github.com/armosec/curing.git
[submodule "KillHook"]
	path = KillHook
	url = https://github.com/MatheuZSecurity/KillHook.git
[submodule "bds_lkm_ftrace"]
	path = bds_lkm_ftrace
	url = https://github.com/Mirtia/bds_lkm_ftrace.git
